Source: trenta-bootscreen
Section: gnome
Priority: extra
Maintainer: Kenneth Stier (Millhousen Tech) <kenny.stier19@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3
Homepage: http://trentaos.org

Package: trenta-bootscreen
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Trenta OS Bootscreen
 A Beautiful Plymouth Bootscreen Crafted Specially for Trenta OS that features a Background image, the Trenta Logo and a Progress Bar
